---
BasedOnStyle: Google
ColumnLimit: 70
AllowShortFunctionsOnASingleLine : All
AllowAllParametersOfDeclarationOnNextLine: True
ReferenceAlignment: Right  
PointerAlignment : Right
AccessModifierOffset : 20
NamespaceIndentation: All
AllowAllArgumentsOnNextLine: True
AllowShortCaseLabelsOnASingleLine: True
AllowShortEnumsOnASingleLine: True 
AllowShortBlocksOnASingleLine : Empty
BinPackParameters: True
BinPackArguments : True
IncludeBlocks: Merge
IndentGotoLabels: true
AlignArrayOfStructures: Right 
...
